<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">    
    {{>head}}
</head>

<body>
    <div class="container-fluid">
        {{>header}}
        <p>{{helpText}}</p>        
    </div>    
    {{>footer}}

    {{>scriptloader}}
</body>

</html>