{{!-- Navbar --}}
<div class="navbar">
    <div class="container flex">
        <h1 class="logo">{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/">Weather</a> </li>
                <li><a href="/about">About</a> </li>
                <li><a href="/help">Help</a> </i>
            </ul>
        </nav>
    </div>
</div>